{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
	<h1 style="float:left">{{ user.username }}</h1>
	
	<!--<img style="float:right; margin-bottom: 20px" height="100px" src="https://chart.googleapis.com/chart?cht=p3&amp;chs=250x100&amp;chd=t:{{ comparisons.mp.politmus_score }},{{ remaining }}&amp;chl=Score">-->

	<table class="table">

		<tr><td>MP:</td><td><strong>{{ user.mp }}</strong></td></tr>

		<tr><td>Constituency:</td><td><strong>{{ user.constituency }}</strong></td></tr>

		<tr><td>User/MP both voted on</td><td><strong>{{ comparisons.mp.both_voted_on }} questions</strong></td></tr>

		<tr><td>User/MP matched on</td><td><strong>{{ comparisons.mp.exact_match_on }} questions</strong></td></tr>

		<tr class="warning"><td>Constituency Politmus score</td><td><strong>{{ comparisons.constituency.politmus_score }}</strong> (but this isn't implemented yet).</td></tr>

		<tr class="success"><td>Politmus Score:</td><td><strong>{{ comparisons.mp.politmus_score }}</strong></td></tr>

	</table>

	<h3>Unanswered questions</h3>
	<ul>
		{% for question in unanswered_questions %}
			<li><a href="/questions/{{ question.key }}?username={{ user.username }}">{{ question.title }}</a></li>
		{% endfor %}
	</ul>
	<h3>Answered questions</h3>
	<ul>
		{% for question in answered_questions %}
			<li><a href="/users/{{ user.username }}/votes/{{ question.key }}">{{ question.title }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}